<div class="row clearfix">
    <div class="col-md-6 column">
        <div class="jumbotron">
            <h1>
                Hello, Amit !!!
            </h1>
            <p>
                This is a template for flight search module. This module is based on AngularJS, Bootstrap,jQuery,Underscore lib, and other basic web development technologies.
            </p>
            <p>
                <button class="btn btn-primary btn-large">Think More</button>
            </p>
        </div>
    </div>
    <div class="col-md-6 column">
        <div class="tabbable" id="tabsId">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="" data-toggle="tab">One Way</a>
                </li>
                <li>
                    <a href="" data-toggle="tab">Two Way</a>
                </li>
            </ul>
            <div class="tab-content">
                <ul>
                    <li ng-repeat="city in sourceCity">{{city}}</li>
                </ul>
                <div class="tab-pane active" id="panelOneWay">
                    <p>
                    <form role="form">
                        <div class="form-group">
                            <label for="sourceCityId">Source:</label>
                            <input type="text" class="form-control" list="sourceCityList" ng-model="srcCit" id="sourceCityId">
                            <datalist id="sourceCityList">
                                <option ng-repeat="src in sourceCity">{{src}}</option>
                            </datalist>
                        </div>
                        <div class="form-group">
                            <label for="destinationCity">Destination:</label>
                            <input type="text" class="form-control" list="destiCityList" ng-model="destCit" id="destinationCity">
                            <datalist id="destiCityList">
                                <option ng-repeat="desti in destiCity">{{desti}}</option>
                            </datalist>
                        </div>
                        <div class="form-group">
                            <div id="oneWayJrny">
                                <label for="departDate">Departure Date:</label>
                                <div class='input-group date' id='departDate' style="width: 50%">
                                <input type='date' class="form-control" ng-model="flightDate"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            </div>
                            </div>
                            <div id="returnJrny" style="display: none">
                                <label for="returnDate">Return Date:</label>
                                <div class='input-group date' id='returnDate' style="width: 50%">
                                    <input type='date' class="form-control" ng-model="flightReturnDate"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <a href="#searchResult" class="btn btn-primary" ng-click="searchFlight()">Search</a>
                    </form></p>
                </div>
                <div class="tab-pane " id="panelTwoWay">

                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            // Hide return journey date as per tab selection
            $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
                var currentTab = $(e.target).text(); // get current tab
                if(currentTab==="Two Way"){
                    $('#returnJrny').show();
                }else{
                    $('#returnJrny').hide();
                }

            });
        });
    </script>
</div>